- var datalink = "http://data.baltimoresun.com/PROJECTLINK/"
- var datalink = ""

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Droid+Serif|Montserrat|Lato")
		link(rel="stylesheet", type="text/css", href=datalink + "css/style.css")
		link(rel="stylesheet" href=datalink + "css/font-awesome.min.css")
		//Facebook Stuff
		meta(property="og:title", content="")
		meta(property="og:url", content="")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-body below.
		//- include includes/ad-for-header.html

	body
		//- This omniture file will also add a topnav.
		//- Remember to update the omniture tags
		include includes/omniture.html
		.container
			.container__text.container__text--header
				h1 Maryland police stop data
				.shareButtons
					i.icon-facebook-squared
					i.icon-twitter-squared
				p.byline By 
					a(href="" target="_blank") John Smith
				p Cras pharetra, mi sodales viverra facilisis, ex magna condimentum lorem, eget suscipit arcu diam id eros.
				p Nunc magna neque, tempus id velit cursus, vehicula suscipit lorem. Donec finibus condimentum nulla.
			section
				.container__text
					p.subhead Cras pharetra, mi sodales viverra 
						span facilisis, 
						| ex magna condimentum lorem, 
						span eget suscipit 
						| arcu diam id eros.
					p Sed euismod lobortis ligula vitae ultrices. Ut tempor metus massa, sit amet fringilla nisi sollicitudin eget. Nulla at lectus posuere, fermentum sem pellentesque, posuere tortor.
					p Nulla facilisi. Maecenas nisl ex, tincidunt a est sit amet, blandit consequat arcu. Cras dolor lacus, ornare id lectus nec, pellentesque.
				.container__media
					p.subhead Vivamus id mauris in nisl vulputate
					p.chatter Nam fringilla nisi id euismod tempus. Sed ipsum orci, vulputate quis feugiat ac, maximus nec risus.
					img(src="http://via.placeholder.com/750x400/FF5252/000/?text=/+/+/")
				.container__text
					p Nunc sit amet sapien a turpis viverra ornare et a quam.
					p Pellentesque convallis, orci at ultricies ullamcorper, velit magna venenatis neque, vitae scelerisque sapien dolor ultrices nisl.
					p Cras ut mauris et neque rutrum iaculis. Donec convallis mi non mi pulvinar maximus.
			section.blue
				.container__text
					p.subhead Aenean convallis massa non nunc aliquet imperdiet.
					p Nam felis ligula, efficitur sed bibendum consequat, ultrices mollis velit. Mauris luctus nunc id malesuada consequat. Proin placerat leo in nisi tristique, in porttitor lectus porta.
					p Cras pharetra, mi sodales viverra facilisis, ex magna condimentum lorem, eget suscipit arcu diam id eros.
					p Nunc magna neque, tempus id velit cursus, vehicula suscipit lorem. Donec finibus condimentum nulla.
				.container__media
					p.subhead Vivamus id mauris in nisl vulputate
					p.chatter Nam fringilla nisi id euismod tempus. Sed ipsum orci, vulputate quis feugiat ac, maximus nec risus.
					img(src="http://via.placeholder.com/750x400/FFF/000/?text=/+/+/")
				.container__text
					p Aliquam sed diam sapien. Vestibulum ac orci nunc. Nulla a pretium mi. Fusce convallis justo quis quam tincidunt molestie. Nulla fermentum velit at dui rhoncus, vitae congue sapien facilisis.
					p Nam in magna posuere, mattis turpis vel, euismod augue. Donec quis diam euismod, volutpat erat vitae, tincidunt nibh.
			section
				.container__text
					p.subhead Nunc sed augue et diam ultrices interdum vitae quis lectus.
					p Nullam varius lorem vitae dui tempus, quis tristique quam lacinia. Duis felis erat, fringilla eget efficitur a, ullamcorper a dui.
					p Suspendisse eget felis euismod, posuere magna consequat, fringilla lectus. Vestibulum accumsan, diam at eleifend sodales, leo felis imperdiet sem, a dignissim ligula eros sit amet turpis.
					p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lectus elit, feugiat sed fermentum non, egestas a mi. Maecenas hendrerit, diam vel porta viverra, neque odio molestie velit, quis sodales tellus odio et sapien.
					p Aenean mollis, lacus nec maximus rhoncus, nunc est rhoncus velit, sit amet cursus urna enim in libero.
				.container__media
					p.subhead Vivamus id mauris in nisl vulputate
					p.chatter Nam fringilla nisi id euismod tempus. Sed ipsum orci, vulputate quis feugiat ac, maximus nec risus.
					img(src="http://via.placeholder.com/750x400/FF5252/000/?text=/+/+/")
				.container__text
					p Etiam id nisl nisl.
					p Pellentesque scelerisque faucibus placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					p Sed posuere, nibh posuere suscipit sodales, elit odio dapibus eros, eget luctus nisi velit non orci.
					p Quisque ac luctus nunc, id lacinia orci. Donec suscipit lorem ac justo pulvinar, ut mattis massa viverra.
					p Nam ornare sodales tellus quis condimentum.
					p Etiam laoreet tempus libero, et pharetra mi consequat id.
					p Vivamus eget dui hendrerit, vehicula nibh in, dictum est.
			section.red
				.container__text
					p.subhead Phasellus vel rutrum quam, quis lacinia ligula. Cras pretium purus justo.
					p Vestibulum ut sapien et justo bibendum porttitor. Morbi pulvinar lacus faucibus semper vulputate. Nam facilisis ac nibh non tempus. Integer et turpis sed ex aliquet dictum.
					p Donec commodo rutrum lorem, molestie fermentum nisi porta at. Mauris pharetra vel dui id cursus. Etiam ac pharetra dui. Morbi sit amet pulvinar quam.
				.container__media
					p.subhead Vivamus id mauris in nisl vulputate
					p.chatter Nam fringilla nisi id euismod tempus. Sed ipsum orci, vulputate quis feugiat ac, maximus nec risus.
					img(src="http://via.placeholder.com/750x400/FFF/000/?text=/+/+/")
				.container__text
					p Nullam varius lorem vitae dui tempus, quis tristique quam lacinia. Duis felis erat, fringilla eget efficitur a, ullamcorper a dui.
					p Suspendisse eget felis euismod, posuere magna consequat, fringilla lectus. Vestibulum accumsan, diam at eleifend sodales, leo felis imperdiet sem, a dignissim ligula eros sit amet turpis.
					p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lectus elit, feugiat sed fermentum non, egestas a mi. Maecenas hendrerit, diam vel porta viverra, neque odio molestie velit, quis sodales tellus odio et sapien.
					p Aenean mollis, lacus nec maximus rhoncus, nunc est rhoncus velit, sit amet cursus urna enim in libero.
					p Etiam id nisl nisl.
					p Pellentesque scelerisque faucibus placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					p Sed posuere, nibh posuere suscipit sodales, elit odio dapibus eros, eget luctus nisi velit non orci.
					p Quisque ac luctus nunc, id lacinia orci. Donec suscipit lorem ac justo pulvinar, ut mattis massa viverra.
					p Nam ornare sodales tellus quis condimentum.
					p Etiam laoreet tempus libero, et pharetra mi consequat id.
					p Vivamus eget dui hendrerit, vehicula nibh in, dictum est.

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-header above.
		//- #leaderboard
			include includes/ad-for-body.html

		//Javascript
		script(src=datalink + "js/min/jquery-3.0.0.min.js")
		script(src=datalink + "js/app.js")
		//- script(src=datalink + "js/min/app.min.js")

