- var datalink = "http://data.baltimoresun.com/PROJECTLINK/"
- var datalink = ""

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Droid+Serif|Montserrat|Lato")
		link(rel="stylesheet", type="text/css", href=datalink + "css/style.css")
		link(rel="stylesheet" href=datalink + "css/font-awesome.min.css")
		//Facebook Stuff
		meta(property="og:title", content="")
		meta(property="og:url", content="")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-body below.
		//- include includes/ad-for-header.html

	body
		//- This omniture file will also add a topnav.
		//- Remember to update the omniture tags
		include includes/omniture.html
		.container
			.container__text.container__text--header
				h1 Maryland police stop data
				.shareButtons
					i.icon-facebook-squared
					i.icon-twitter-squared
				p.byline By 
					a(href="" target="_blank") John Smith
				p Researchers at Stanford University gathered data on more than 60 million police stops in the United States, 
					a(href="https://openpolicing.stanford.edu/findings/" target="_blank") revealing disparities
					|  in the way officers treat minority motorists.
				p Does a similar bias exist in Maryland, where the population is one of the most racially and socioeconomically diverse in the nation?
			section
				.container__text
					p.subhead Who gets stopped?
					p The racial breakdown of who police pulled over in Maryland roughly reflects the state population.
				.container__media
					p.mediaTitle Maryland population compared to stopped motorists
					img(src=datalink + "images/graphic-0.png")
				.container__text
					p However, year-over-year data appears to show an increase in the percentage of stops with black motorists.
				.container__media
					p.mediaTitle Percent of stopped motorists who were black
					img(src="http://via.placeholder.com/750x400/2196F3/fff/?text=/+/+/")
			section.blue
				.container__text
					p.subhead Why do people get stopped?
					p Initial violations leading to the police stops shows that black and Hispanic motorists are about twice as likely than other ethnicities to be pulled over for equipment violations.
					p However, only three percent of the violations were equipment-related. Overall, there were no huge disparities between black, Hispanic and white motorists.
					p Asian motorists had the highest rate of speeding and safe movement violations.
				.container__media
					p.mediaTitle Violations
					img(src="http://via.placeholder.com/750x400/2196F3/fff/?text=/+/+/")
				.container__text
			section
				.container__text
					p.subhead Who gets searched and why?
					p The data shows black and Hispanic motorists are the most likely to have their vehicle searched. Black motorists are searched at nearly twice the rate of white and Asian motorists.
				.container__media
					p.mediaTitle Percent of stops resulting in a search
					img(src=datalink + "images/graphic-2.png")
				.container__text
					p According to the data, 45 percent of searches conducted on Hispanic motorists were incident to the arrest. In other words, these are counting searches occurring after an arrest. Black motorists have the lowest rate of incident to arrest searches at 22%.
					p This statistic is flipped for searches conducted for probable cause. Black motorists were searched far more often for probable cause while Hispanic motorists have the lowest rate for probable cause.
				.container__media
					p.mediaTitle Searches for probable cause
					img(src=datalink + "images/graphic-3.png")
			section.red
				.container__text
					p.subhead Who's found with contraband?
					p Although black and Hispanic motorists are searched most often, white and Asian drivers were more likely to have contraband when searched.
				.container__media
					p.mediaTitle Contraband chart
					img(src="http://via.placeholder.com/750x400/FF5252/fff/?text=/+/+/")
				.container__text
					p This figure is at odds with national statistics analyzed by Stanford researchers. In the U.S., officers find contraband at similar rates between black and white drivers
					p The gap grows larger when filtering for searches officers conducted for probable cause.
				.container__media
					p.mediaTitle Contraband probable cause
					img(src="http://via.placeholder.com/750x400/FF5252/fff/?text=/+/+/")
				.container__text
					p The figures for Asian and Hispanic motorists are prone to error due to the sample sizes, but the difference is clear for black and white motorists in Maryland.
					p Stanford researchers warn that this is not a guaranteed sign of discriminatory behavior, as many unseen factors may skew the data.
			section
				.container__text
					p.subhead What was the outcome?
					p Hispanic and black motorists were most likely to have their stop result in an arrest.
					p White motorists were least likely to receive a citation and most likely to leave with a warning.
				.container__media.container__media--outcomes
					p.mediaTitle Stop outcomes for:
						.options.options--outcomes
							select.outcomes--0
								option(value="0" disabled selected) Race (All)
								option(value="0") All
								option(value="1") Asian
								option(value="2") Black
								option(value="3") Hispanic
								option(value="4") Other
								option(value="5") White
							select.outcomes--1
								option(value="0" disabled selected) Residency (All)
								option(value="0") All
								option(value="1") In-state
								option(value="2") Out-of-state
							select.outcomes--2
								option(value="0" disabled selected) Sex (All)
								option(value="0") All
								option(value="1") Female
								option(value="2") Male
						.outcomes
							.outcomes__stat
								p.outcomesStat.outcomesStat--0 0.6%
								p are 
									span arrested
							.outcomes__stat
								p.outcomesStat.outcomesStat--1 39.9%
								p receive a 
									span citation
							.outcomes__stat
								p.outcomesStat.outcomesStat--2 10.5%
								p receive a 
									span repair order
							.outcomes__stat
								p.outcomesStat.outcomesStat--3 49%
								p receive a 
									span warning
							.outcomes__sample
								p Sample size: 
									span.outcomesStat--4 944,728
				.container__text
					p Nullam varius lorem vitae dui tempus, quis tristique quam lacinia. Duis felis erat, fringilla eget efficitur a, ullamcorper a dui.
					p Suspendisse eget felis euismod, posuere magna consequat, fringilla lectus. Vestibulum accumsan, diam at eleifend sodales, leo felis imperdiet sem, a dignissim ligula eros sit amet turpis.
					p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lectus elit, feugiat sed fermentum non, egestas a mi. Maecenas hendrerit, diam vel porta viverra, neque odio molestie velit, quis sodales tellus odio et sapien
			section.blue
				.container__text
					p.subhead Aenean mollis, lacus nec maximus rhoncus, nunc est rhoncus velit, sit amet cursus urna enim in libero.
					p Etiam id nisl nisl.
					p Pellentesque scelerisque faucibus placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					p Sed posuere, nibh posuere suscipit sodales, elit odio dapibus eros, eget luctus nisi velit non orci.
					p Quisque ac luctus nunc, id lacinia orci. Donec suscipit lorem ac justo pulvinar, ut mattis massa viverra.
					p Nam ornare sodales tellus quis condimentum.
					p Etiam laoreet tempus libero, et pharetra mi consequat id.
					p Vivamus eget dui hendrerit, vehicula nibh in, dictum est.

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-header above.
		//- #leaderboard
			include includes/ad-for-body.html

		//Javascript0 auto
		script(src=datalink + "js/min/jquery-3.0.0.min.js")
		script(src=datalink + "js/app.js")
		//- script(src=datalink + "js/min/app.min.js")

